<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Email-forgot Verification</title>

  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .sense-live-img {
      height: 50px;
      width: 50px;
      margin-right: 10px;
    }

    .h2 {
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
      color: white;
    }

    .sense-live-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      
    }

    .card {
      background: linear-gradient(45deg, #640918 0%, #141316 20%);
      color: white;
      padding: 40px 20px;
      border-radius: 10px;
      text-align: center;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      width: 100%;
      height: auto;
      max-width: 500px;
      box-sizing: border-box;
      margin: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    p {
      font-size: 16px;
      margin: 15px 0;
      line-height: 1.3rem;
    }

    .token {
      color: #c81a37;
      font-weight: bold;
    }

    button {
      background-color: #640918;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
      border-radius: 5px;
      font-size: 16px;
      margin-top: 15px;
      transition: background-color 0.3s ease;
    }

    button:hover {
      background-color: #8e0d24;
    }

    a {
      text-decoration: none;
    }

    /* Responsive Design */
    @media (max-width: 600px) {
      .card {
        padding: 20px 15px;
      }

      p {
        font-size: 14px;
        line-height:1.5rem;
      }

      button {
        padding: 10px 15px;
        font-size: 14px;
      }
    }
  </style>
</head>

<body>
  <div class="card">
    <div class="sense-live-wrapper">
      <img src='../../../assets/favicon.ico' class="sense-live-img" alt="SenseLive">
      <div class="h2">SenseLive</div>
    </div>
    <h2 style="color: #c81a37;">Welcome to our Application !</h2>
    <p>Your registration token is <span class="token"><%= resetToken %></span><br>Please click the button below to verify your email</p>
    <a href="https://localhost:4200/login/verify-user?token=<%= token %>">
      <button>Reset</button>
    </a>
  </div>
</body>

</html>

